@media only screen and (max-width: 600px) {
  header {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    background-color: none;
    cursor: pointer;
    
  }
  header .mail {
    display: none;
  }

  header .phone {
    display: none;
  }

  header .logo {
    display: none;
  } 

  header #logo-mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .nav {
    display: none;
  }
  
  .photo-js img {
    display: none;
  }

  #company .about {
  flex-direction: column;
  }

  #company .about img{
    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #company .about p {
    display: none;
  }

  #company #p-mobile {
    display: flex;
    text-align: justify;
    flex-flow: column;
    font-style: italic;
  }

  #company h1,
  #products-mobile h1,
  #service h1,
  #contact h1 {
    font-size: 20px;
    font-style: italic;
    color: rgb(66, 122, 19);
    text-align: left;
    margin-top: 10px; 
    margin-bottom: 10px;
  }

  #products {
    display: none;
  }

  #products-mobile {
    display: block;
  }

  #products-mobile .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }

  #products-mobile .slideshow-container > div {
    padding: 10px;
    width: 100%;
    height: 250px;
    margin: 10px;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
    border-radius: 0.2rem;
    border-style: ridge;
  }

  #products-mobile .prev, .next {
    color: black;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
  }

  #service img {
    display: none;
  }

  #service ul {
    font-size: 20px;
    font-style: italic;
  }

  #contact .contact-f {
    display: none;
  }

  #contact .adress {
    padding: 10px;
  }

  #contact .phone {
    padding: 10px;
    padding-top: 40px;
  }
  
}